body {
  padding-top: 2em;
}

.modules > .row > .col-sm-2 {
  padding-top: 2em;
}

.zi-red { 
  color: #D9230F; 
}

.zi-green {
  color: #0FD923;
}

.navbar-brand > img {
  display: inline-block;
  height: 1.25em;
  margin-right: .25em;
} 
