@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

body {
  padding-top: 2em;
}

.modules > .row > .col-sm-2 {
  padding-top: 2em;
}

.zi-red { 
  color: #D9230F; 
}

.zi-green {
  color: #0FD923;
}

.navbar-brand > img {
  display: inline-block;
  height: 1.25em;
  margin-right: .25em;
} 

/*body, h1, h2, h3, h4, h5 { font-family: Courier; }*/

a {
  text-decoration: none;
}

* {
  font-family: 'Noto Sans', sans-serif;
}
